@import "../../App.scss";
.home{
    height: calc(100vh - 100px);
    background-color: transparent;
    position: relative;
    z-index: 1;

    .image{
        height: 100%;
        overflow: hidden;
        position: absolute;
        top:  0px;
        right: 0px;
        z-index: -1;

        @include mobile{
            opacity: 0.5;
         }
      
       
    }

    .wrap{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;
        position: relative;
        margin-left: 10%;
        

       
        @include mobile{
            width: 80%;
            height: 50%;
        }


        @include tablet{
            width: 80%;
            height: 50%;
        }

       
        .textContainer{
        
        text-align: center;

       
        
        h1{
            margin: 5%;
            color: orange;
            @include mobile{
                font-size: 32px;
            }
        }

        span{
            font-size: 20px;
            line-height: 1.7;
            @include mobile{
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    
    .buttonContainer{
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 5px;
          
        button{
            margin-left: 10px;
            background-color: transparent;
            color: white;
            border: 2px solid orange;
            border-radius: 10px;
            width: 200px;
            cursor: pointer;

            @include mobile{
                font-size: 14px;
                font-weight: 800;
                width: 100px;
                height: 60px;
            }
        }

        button:hover {
            background-color: orange;
            color: black;
        }
    }
    
    .scrolldown{
        margin: auto;
    }
}
}